/**
 * @name blvck & wh!t
 * @author DevilBro
 * @version 1.0.5
 * @description Allows you to use a background image without greatly altering the basic look of Discord.
 * @source https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BasicBackground/BasicBackground.theme.css
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BasicBackground
 * @authorId 278543574059057154
 * @BDEditor BasicBackground
*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');

:root {
  --background: url('https://i.imgur.com/p64Jo7O.png');
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 4px;
  --popout: url('https://i.imgur.com/c3RW9ts.jpg');
  --popoutsize: var(--backgroundsize);
  --backgroundposition: center;
  --popoutblur: 3px;
  --transparencycolor: 0,0,0;
  --accentcolor: 193,193,193;
  --backdrop: rgb(0,0,0,1);
  --textshadow: rgb(0,0,0,1);
  --transparencyalpha: 0.28;
  --messagetransparency: 0.32;
  --guildchanneltransparency: 0.1;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0;
  --font: Nanum Myeongjo;
  --textbrightest: 255,255,255;
  --textbrighter: 255,255,255;
  --textbright: 255,255,255;
  --textdark: 255,255,255;
  --textdarker: 255,255,255;
  --textdarkest: 255,255,255;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
}

/* Any custom CSS below here */


